.about {
  width: 100%;
  background-color: #d8d7cc;
  color: black;
  overflow: hidden;

  .about_imageContainer {
    height: 100%;
    .about_image {
      width: 100%;
      left: 60px;
      position: relative;
    }
  }

  .about_content {
    .title {
      text-align: start;
      h2 {
        margin-right: 0;
        border-bottom: 1px solid $dark-blue;
      }
    }

    p {
      line-height: 200%;
      font-size: 18px;
      text-align: start;
    }
  }
}

@media only screen and (max-width: $lg) {
  .about {
    .about_imageContainer {
      .about_image {
        width: 200px;
        left: 0;
        position: relative;
      }
    }

    .about_content {
      p {
        padding: 0px 20px;
        line-height: 200%;
        font-size: 16px;
      }
    }
  }
}
