.companies {
  width: 100%;
  height: 100%;
  background-color: white;
  position: relative;
  display: block;
  background: url("../images/logos/background.png");
  background-size: 80% cover;
  background-position: center;

  .companies_logosContainer {
    display: flex;
    width: 100%;
    max-width: 1000px;
    margin: auto;

    .companies_logoAnimation {
      position: relative;
      z-index: 999;
      width: 100%;
      display: block;
      &:hover {
        cursor: pointer;
        .companies_logo {
          &.small {
            animation: flip 1s ease-in-out !important;
          }
        }
      }
    }

    .companies_logo {
      margin: auto;
      margin-top: 20px;
      margin-bottom: 20px;
      display: flex;
      border-radius: 50%;
      box-shadow: $deep-shadow;
      background: linear-gradient(
        195deg,
        rgb(216, 219, 221) 0%,
        rgba(255, 255, 255, 1) 100%
      );
      z-index: 999;
      position: relative;
      padding: 30px;

      .companies_logoImage {
        margin: auto;
        width: 100%;
      }

      &.small {
        width: 150px;
        height: 150px;
        animation: pulse 1s ease-in-out infinite !important;
      }

      &.big {
        margin: auto;
        width: 400px;
        height: 400px;
        padding: 80px;
        margin-top: 60px;
      }
    }

    .companies_logos_right {
      width: 300px;
      overflow: visible;
      position: relative;

      .companies_logo {
        margin-right: 30px;
      }

      .companies_lines {
        transform: scaleX(-1);
      }
    }

    .companies_logos_center {
      display: flex;
      width: 400px;

      > div {
        display: flex;
      }
    }

    .companies_logos_left {
      overflow: visible;
      position: relative;
      width: 300px;

      .companies_logo {
        margin-left: 30px;
      }
    }

    .companies_lines {
      left: 0;
      top: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      background: url("../images/logos/lines.png") no-repeat;
      background-position: center;
      background-size: 100%;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .companies {
    .companies_logosContainer {
      flex-direction: column;
      padding: 0px 5px;
      .companies_logo {
        &.small {
          width: 130px;
          height: 130px;
        }

        &.big {
          width: 300px;
          height: 100%;
          margin-top: unset;
        }
      }

      .companies_logos_right {
        width: 100%;

        .companies_logo {
          margin-right: auto;
          margin-left: auto;
        }

        .companies_lines {
          background-position-x: calc(50% + 20px);
        }
      }

      .companies_logos_center {
        width: 100%;

        margin-top: 20px;
        margin-bottom: 20px;
        padding: 10px;
      }

      .companies_logos_left {
        width: 100%;

        .companies_logo {
          margin-right: auto;
          margin-left: auto;
        }
        .companies_lines {
          background-position-x: calc(50% + 20px);
        }
      }

      .companies_lines {
        margin: auto;
        height: 100%;
        background-size: contain;
        background-position-x: center;
      }
    }
  }
}
