html,
body {
  scroll-behavior: smooth;

  // font
  @import url("https://fonts.cdnfonts.com/css/heebo");
  font-family: "Heebo", sans-serif;
}

.ptb-40 {
  padding: 40px 0px;
}

p {
  font-size: 18px;
}

.vc {
  //vertical-center
  display: flex;
  flex-direction: column;
  > * {
    margin: auto;
  }
}
