@use "sass:math";
$elements: 30;

.hero {
  width: 100%;
  height: 100%;
  max-height: 800px;
  background-color: white;
  position: relative;
  height: 450px;
  overflow: hidden;

  display: flex;
  justify-content: center;
  flex-direction: column;

  .hero_text_container {
    display: flex;
    width: 100%;
    justify-content: center;
    .hero_text {
      color: black;
      height: 100%;
      z-index: 2;
      font-size: 24px;
      font-weight: 500;
      max-width: 500px;
      text-align: start;
      padding: 40px 60px;

      .hero_text_margin {
        margin-right: 100px;
      }
    }
  }

  .hero_bg {
    position: absolute;
    width: 100%;
    bottom: 0;
  }

  .hero_cube {
    width: 300px;
  }
}

@media only screen and (max-width: $lg) {
  .hero {
    height: 300px;
  }
}

@keyframes scrollUp {
  from {
    bottom: -20px;
  }

  to {
    bottom: 110%;
  }
}
