.owners {
  .owner_container {
    margin: 60px 0px;
  }
  .owners_image {
    width: 200px;
    margin: auto;
    margin-bottom: 10px;
  }

  span {
    font-weight: bold;
    margin-left: 4px;
  }
}

@media only screen and (max-width: $sm) {
  .owners {
  }
}
