.projects {
  .project_container {
    margin: 60px 0px;

    .project_title {
      font-weight: bold;
      margin-left: 4px;
    }
  }

  .projects_title {
    h2 {
      border-bottom: 1px solid $dark-blue;
    }
  }

  .projects_image {
    margin: auto;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: $lg) {
  .projects {
    .project_container {
      max-width: 300px;
      margin: auto;
    }
  }
}
