.projects {
  .project_container {
    margin: 60px 0px;

    .project_title {
      font-weight: bold;
      margin-left: 4px;
    }
  }

  .projects_title {
    h2 {
      border-bottom: 1px solid $dark-blue;
    }
  }

  .projects_image {
    margin: auto;
    margin-bottom: 10px;
  }

  .single_project {
    transition: $transition;

    &:hover {
      cursor: pointer;
      box-shadow: 0px 0px 10px black;
    }
  }
}

.single_project_modal {
  padding: 30px;
  text-align: right;

  button {
    max-width: 200px;
    margin-top: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .slick-prev,
  .slick-next {
    &::before {
      color: black;
    }
  }

  h2 {
    margin-top: 30px;
  }
}

@media only screen and (max-width: $lg) {
  .projects {
    .project_container {
      max-width: 300px;
      margin: auto;
    }
  }
}
