.projects {
  direction: rtl !important;
  .project_container {
    margin: 60px 0px;
    padding: 30px;
    width: 100%;

    .project_title {
      font-weight: bold;
      margin-left: 4px;
    }
  }

  .projects_title {
    h2 {
      border-bottom: 1px solid $dark-blue;
    }
  }

  .projects_image {
    margin: auto;
    margin-bottom: 10px;
  }

  .single_project {
    direction: rtl;
    h6 {
      margin-top: 10px;
    }
    p {
      font-size: 16px;
    }

    .single_project_image {
      transition: $transition;
    }

    &:hover {
      cursor: pointer;

      .single_project_image {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.473);
      }
    }
  }
}

.single_project_modal {
  padding: 30px;
  text-align: right;
  direction: rtl;
  position: relative;

  .small_pictures {
    margin-top: 30px;
    :hover {
      cursor: pointer;
    }
  }

  .citylines {
    background-image: url("../images/city-lines.png");
    background-size: cover;
    height: 70px;
    width: 100%;
    bottom: 0;
    right: 0;
    position: absolute;
    pointer-events: none;
  }

  button {
    max-width: 200px;
    margin: auto;
    margin-top: 30px;
    margin-left: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .slick-prev,
  .slick-next {
    &::before {
      color: black;
    }
  }

  h2 {
    margin-top: 30px;
  }
}

@media only screen and (max-width: $lg) {
  .projects {
    .project_container {
      margin: auto;
    }
  }
}
