/*================================================
Variables
=================================================*/

$dark-blue: #1f2e5a;
$gray: #f1f1f1;
$light-blue: #00C4FF;
$orange: #f5b72e;
$blue: #47abc2;
$green: #90bd1f;
$red: #e34e1c;
$dark-grey: #3e3e3e;
$pink: #df097c;
$light-orange: #f5b72e;
$dark-orange: #f5b72e;

$transition: all ease-in-out 0.2s;
$shadow: 0px 0px 10px rgba(0, 0, 0, 0.315);
$deep-shadow: 0 13px 27px rgba(0, 0, 0, 0.253);
$border: 1px solid #d5dce4;

$xs: 0px;
$sm: 576px;
$md: 768px;
$lg: 991px;
$xl: 1140px;
$xxl: 1400px;
